


body {
    background-image: url("parchemain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #3b2f1c;
    font-family: "Georgia", serif;

    margin: 0;
    padding: 40px;
}
main {
    max-width: 900px;
    margin: auto;
    line-height: 1.8;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    margin-top: 60px;
    color: #5a3e1b;
}

section {
    margin-bottom: 60px;
}

p {
    margin-bottom: 20px;
}

.image-centree img {
    display: block;
    margin: 30px auto;
    border: 4px solid #5a3e1b;
}

ul, ol {
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #5a3e1b;
    padding: 10px;
    text-align: center;
}

.galerie {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.photo {
    width: 30%;
    height: 120px;
    border: 2px dashed #5a3e1b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    background-color: rgba(255,255,255,0.4);
}

.bouton-fin {
    text-align: center;
    margin: 60px 0;
}

.btn-hiver {
    width: 220px;
    height: 60px;
    background-color: #8b7d5a;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-hiver:hover {
    background-color: #6f6245;
}

.retour {
    text-align: center;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 40px;
}

html {
    font-size: 115%;
}

body {
    font-weight: 800;
}.boutons-fin {
    text-align: center;
    margin: 40px 0;
}

.btn-mini {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 50px;
    margin: 10px;

    background-color: #8b7d5a;
    color: white; /* couleur du texte */
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.btn-mini:hover {
    background-color: #6f6245;
    color: white; 
}
ul li a {
    color: #5a3e1b;        
    text-decoration: none; 
    font-weight: bold;
}

ul li a:hover {
    color: #8b7d5a;       
    text-decoration: underline;
}
.double-liste {
    display: flex;
    justify-content: space-between;
}

.double-liste ul {
    width: 45%;
}
